@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif !important;
    background: var(--main-background-color);
    scroll-behavior: smooth;
}

:root{
    --main-background-color : rgb(244,244,238);
    --heading-bold-color : rgb(33,37,41);
    --nav-links-color : rgb(215,173,136);
    --green-color : rgb(39, 184, 51);
    --blue-color : rgb(33, 131, 177);
    --enquire-background : rgb(10,48,108);
    --enquire-backgroun-2 : rgb(18,41,77);
    --enquire-text-heading : rgb(232,188,90); 
    --footer-curve-background : rgb(15,35,66);
}


/* Navbar Css */
nav{
    margin-top: 30px;
}

nav .logo-img{
    height: 50px;
    width: 80px;
}

nav .nav-logo-holder{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    font-weight: bold;
    color: black !important;
    padding: 0px 20px !important;
}

nav a:hover{
    color: var(--nav-links-color) !important;
}

nav .active-nav-link{
    color: var(--nav-links-color) !important;
}

@media only screen and (max-width:768px){
    .navbar-toggler{
        outline: none !important;
        border: none;
    }
    nav a{
        padding:20px !important;
        text-align: center;
    }
    nav li{
        border-bottom: 2px solid var(--nav-links-color);
    }
    nav li:hover{
        background: var(--heading-bold-color);
    }
    nav li:hover a{
        transform: scale(1.15);
    }
}



/* Section-1 design */
.section-1 .row .section-1-col-1,.section-1-col-2,.section-1-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.section-1-col-1{
    flex-direction: column;
}

.section-1-col-1 h1{
    font-weight: bolder;
    color: var(--heading-bold-color);
    font-size: 100px;
}

.section-1 .section-1-btn{
    padding: 20px 0px;
}

.section-1 .section-1-btn a{
    text-decoration: none;
    background: var(--heading-bold-color);
    color: var(--main-background-color);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.6s ease;
}

.section-1 .section-1-btn a:hover{
    background: var(--nav-links-color);
    transform: scale(1.15);
}

.section-1 .section-1-box-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



@media only screen and (max-width:992px){
    .section-1-col-1 h1{
        font-size: 50px;
    }
}

@media only screen and (max-width:768px){
    .section-1-col-1{
        padding: 40px 0px;
    }

    .section-1 .section-1-box-1{
        text-align: justify;
        letter-spacing: 0.1px;
    }
}

@media only screen and (max-width:576px){
    .section-1 .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-1-box-1 p{
        padding: 0px 10px;
    }
}


/* Section-2 */
.section-2{
    min-height: 100vh;
    padding: 40px 0px;
}
.section-2,.section-2 .row .col{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 .Section-content{
    flex-direction: column;
}

.section-2 .Section-content p{
    text-align: center;
    font-weight: 500;
}

.section-2 .Section-content a{
    text-decoration: none;
    background: var(--heading-bold-color);
    color: var(--main-background-color);
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.section-2 .Section-content h2{
    font-weight: 600;
    text-align: center;
}

.section-2 .Section-content a:hover{
    background: var(--green-color);
}

.advanced-section .Section-content a:hover{
    background: var(--blue-color);
}

@media only screen and (max-width:768px) {
    .section-2 .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .advanced-section .row{
        flex-direction: column-reverse;
    }

    .section-2 .Section-Img img{
        padding: 20px 0px;
    }

    .section-2 .Section-Img img{    
        height: 75%;
        width: 75%;
    }

    .advanced-section .Section-Img img{
        height: 100%;
        width: 100%;
    }

    .section-2 .Section-content p{
        text-align: justify;
        padding: 0px 10px;
    }
}

/* Enquire Section */
.Enquire{
    background: var(--enquire-background);
    /* background: var(--enquire-backgroun-2); */
    color: white;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Enquire .tittle{
    color: var(--enquire-text-heading);
    font-weight: 700;
    font-size: 50px;
}
.Enquire .UpperHeading{
    text-align: center;
    padding: 20px 0px;
}
.Enquire .UpperHeading p{
    font-weight: 500;
}
.Enquire .tittle span{
    color: white;
}

.Enquire .user__Data,.Enquire .user__form{
    padding: 20px 0px;
}

.Enquire .user__Data .user__data--item{
    display: flex;
    align-items: center;
}

.Enquire .user__Data .user__data--item .user__data__item--icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Enquire .user__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Enquire form{
    width: 100%;
}

.Enquire .user__form .form__item{
    margin-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Enquire .user__form  h1{
    font-weight: 700;
    color: var(--enquire-text-heading);
    margin-bottom: 20px;
}

.Enquire .user__form  h1 span{
    color: white;
}

.Enquire .user__form .form__item input{
    background: var(--main-background-color);
    outline: none;
    border: none;
    padding: 7px;
    width: 80%;
    border-radius: 6px;
}

.Enquire .user__form .form__item input::placeholder{
    font-weight: 700;
}

.Enquire .user__form .advance__message--item textarea{
    background: var(--main-background-color);
    outline: none;
    border: none;
    padding: 7px;
    width: 80%;
    font-weight: 700;
    border-radius: 6px;
    height: 100px;
}

.Enquire .uniqueBtn{
    margin-top: 20px;
}

.Enquire .uniqueBtn button{
    position: relative;
    font-size: 20px;
    background: #0c002b;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: #1670f0;
    font-weight: 700;
    padding: 5px 10px;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
    overflow: hidden;
}

.Enquire .uniqueBtn button::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(0,0,0,0.15);
}

.Enquire .uniqueBtn button span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}

@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}


.Enquire .uniqueBtn button span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation:  animate2 2s linear infinite;
    animation-delay: 1.5s;
}


@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

.Enquire .uniqueBtn button span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation:  animate3 2s linear infinite;
    animation-delay: 0.5s;
}


@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.Enquire .uniqueBtn button span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation:  animate4 2s linear infinite ;
    animation-delay: 1s;
}


@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}


@media only screen and (max-width:768px){
    .Enquire .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}




/* Footer Design */
footer{
    height: 40px;
    background: var(--footer-curve-background);
}

footer p{
    line-height: 40px;
    text-align: center;
    color: var(--main-background-color);
}

footer p span{
    text-transform: uppercase;
    font-weight: 700;
    color: var(--enquire-text-heading);
}
